# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [53]:
import numpy as np
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

# Challenge 1 - Independent Sample T-tests

In this challenge, we will be using the Pokemon dataset. Before applying statistical methods to this data, let's first examine the data.

To load the data, run the code below.

In [2]:
# Run this code:

pokemon = pd.read_csv('../pokemon.csv')

Let's start off by looking at the `head` function in the cell below.

In [3]:
pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

The first thing we would like to do is compare the legendary Pokemon to the regular Pokemon. To do this, we should examine the data further. What is the count of legendary vs. non legendary Pokemons?

In [7]:
pokemon['Legendary'].value_counts()

False    735
True      65
Name: Legendary, dtype: int64

Compute the mean and standard deviation of the total points for both legendary and non-legendary Pokemon.

In [73]:
pokemon[pokemon['Legendary']==True].describe().T[['mean', 'std']] #Legendarios

                  mean         std
#           470.215385  173.651095
Total       637.384615   60.937389
HP           92.738462   21.722164
Attack      116.676923   30.348037
Defense      99.661538   28.255131
Sp. Atk     122.184615   31.104608
Sp. Def     105.938462   28.827004
Speed       100.184615   22.952323
Generation    3.769231    1.455262
Total_Copy  637.384615   60.937389

In [17]:
pokemon[pokemon['Legendary']==False].describe().T[['mean', 'std']] #No Legendarios

                  mean         std
#           353.315646  208.590419
Total       417.213605  106.760417
HP           67.182313   24.808849
Attack       75.669388   30.490153
Defense      71.559184   30.408194
Sp. Atk      68.454422   29.091705
Sp. Def      68.892517   25.669310
Speed        65.455782   27.843038
Generation    3.284354    1.673471

The computation of the mean might give us a clue regarding how the statistical test may turn out; However, it certainly does not prove whether there is a significant difference between the two groups.

In the cell below, use the `ttest_ind` function in `scipy.stats` to compare the the total points for legendary and non-legendary Pokemon. Since we do not have any information about the population, assume the variances are not equal.

In [20]:
Legen = pokemon[pokemon['Legendary']==True]['Total']
NoLegen = pokemon[pokemon['Legendary']==False]['Total']

In [86]:
from scipy.stats import ttest_ind

ttest_ind(Legen, NoLegen, equal_var=False)

Ttest_indResult(statistic=25.8335743895517, pvalue=9.357954335957446e-47)

What do you conclude from this test? Write your conclusions below.

In [6]:
# H0: (media de las diferencias), (no hay diferencia significativa entre las muestras)
# H1: (existe una diferencia significativa entre las muestras)

# Podemos rechazar H0, es decir, habria diferencias significativas entre las muestras.

How about we try to compare the different types of pokemon? In the cell below, list the types of Pokemon from column `Type 1` and the count of each type.

In [24]:
pokemon['Type 1'].value_counts()

Water       112
Normal       98
Grass        70
Bug          69
Psychic      57
Fire         52
Electric     44
Rock         44
Dragon       32
Ground       32
Ghost        32
Dark         31
Poison       28
Steel        27
Fighting     27
Ice          24
Fairy        17
Flying        4
Name: Type 1, dtype: int64

Since water is the largest group of Pokemon, compare the mean and standard deviation of water Pokemon to all other Pokemon.

In [35]:
pokemon['Total_Copy'] = pokemon['Total']

In [37]:
pokemon.groupby('Type 1').agg({'Total':'mean', 'Total_Copy':'std'})

               Total  Total_Copy
Type 1
Bug       378.927536  117.875223
Dark      445.741935  109.126217
Dragon    550.531250  146.267538
Electric  443.409091  105.721952
Fairy     413.176471  123.781680
Fighting  416.444444  102.464378
Fire      458.076923  109.760496
Flying    485.000000  161.400124
Ghost     439.562500  110.072685
Grass     421.142857  106.650626
Ground    437.500000  123.913081
Ice       433.458333  108.281027
Normal    401.683673  115.733038
Poison    399.142857   92.358687
Psychic   475.947368  139.026645
Rock      453.750000  108.059227
Steel     487.703704  115.420907
Water     430.455357  113.188266

In [48]:
water_pok = pokemon[pokemon['Type 1'] == 'Water']
other_pok = pokemon[pokemon['Type 1'] != 'Water']

In [54]:
water_pok.mean()

#             303.089286
Total         430.455357
HP             72.062500
Attack         74.151786
Defense        72.946429
Sp. Atk        74.812500
Sp. Def        70.517857
Speed          65.964286
Generation      2.857143
Legendary       0.035714
Total_Copy    430.455357
dtype: float64

In [55]:
other_pok.mean()

#             372.536337
Total         435.859012
HP             68.802326
Attack         79.790698
Defense        73.988372
Sp. Atk        72.495640
Sp. Def        72.127907
Speed          68.654070
Generation      3.399709
Legendary       0.088663
Total_Copy    435.859012
dtype: float64

In [56]:
water_pok.std()

#             188.440807
Total         113.188266
HP             27.487026
Attack         28.377192
Defense        27.773809
Sp. Atk        29.030128
Sp. Def        28.460493
Speed          23.019353
Generation      1.558800
Legendary       0.186411
Total_Copy    113.188266
dtype: float64

In [57]:
other_pok.std()

#             209.928799
Total         121.091682
HP             25.194299
Attack         33.025152
Defense        31.719933
Sp. Atk        33.292537
Sp. Def        27.739292
Speed          29.925907
Generation      1.666119
Legendary       0.284463
Total_Copy    121.091682
dtype: float64

In [62]:
water = []
for i in pokemon['Type 1']:
    if i == 'Water':
        water.append('Water')
    else:
        water.append('other')
pokemon['Water'] = water

In [65]:
pokemon.groupby('Water').agg({'Total':'mean', 'Total_Copy':'std'})

            Total  Total_Copy
Water
Water  430.455357  113.188266
other  435.859012  121.091682

Perform a hypothesis test comparing the mean of total points for water Pokemon to all non-water Pokemon. Assume the variances are equal.

In [88]:
wat_pok = pokemon[pokemon['Water']=='Water']['Total']
oth_pok = pokemon[pokemon['Water']=='other']['Total']

ttest_ind(wat_pok, oth_pok, equal_var=True)

Ttest_indResult(statistic=-0.4418547448849676, pvalue=0.6587140317488793)

Write your conclusion below.

In [84]:
# Debemos aceptar H0, es decir, no habria diferencias significativas entre las muestras.

# Challenge 2 - Matched Pairs Test

In this challenge we will compare dependent samples of data describing our Pokemon. Our goal is to see whether there is a significant difference between each Pokemon's defense and attack scores. Our hypothesis is that the defense and attack scores are equal. In the cell below, import the `ttest_rel` function from `scipy.stats` and compare the two columns to see if there is a statistically significant difference between them.

In [96]:
from scipy.stats import ttest_rel  

at = pokemon['Attack']
df = pokemon['Defense']

ttest_rel(at, df)

Ttest_relResult(statistic=4.325566393330478, pvalue=1.7140303479358558e-05)

Describe the results of the test in the cell below.

In [12]:
# Rechazaría H0, diríamos que hay diferencias significativas

We are also curious about whether therer is a significant difference between the mean of special defense and the mean of special attack. Perform the hypothesis test in the cell below.

In [98]:
s_at = pokemon['Sp. Def']
s_df = pokemon['Sp. Atk']

ttest_rel(s_at, s_df)

Ttest_relResult(statistic=-0.853986188453353, pvalue=0.3933685997548122)

Describe the results of the test in the cell below.

In [99]:
 # No rechazaríamos H0, no habría diferencias significativas entre las medias de ambas.

As you may recall, a two sample matched pairs test can also be expressed as a one sample test of the difference between the two dependent columns.

Import the `ttest_1samp` function and perform a one sample t-test of the difference between defense and attack. Test the hypothesis that the difference between the means is zero. Confirm that the results of the test are the same.

In [100]:
from scipy.stats import ttest_1samp

ttest_1samp(at - df, 0) # No aceptamos H0, no habría diferencias significativas.

Ttest_1sampResult(statistic=4.325566393330478, pvalue=1.7140303479358558e-05)

# Bonus Challenge - The Chi-Square Test

The Chi-Square test is used to determine whether there is a statistically significant difference in frequencies. In other words, we are testing whether there is a relationship between categorical variables or rather when the variables are independent. This test is an alternative to Fisher's exact test and is used in scenarios where sample sizes are larger. However, with a large enough sample size, both tests produce similar results. Read more about the Chi Squared test [here](https://en.wikipedia.org/wiki/Chi-squared_test).

In the cell below, create a contingency table using `pd.crosstab` comparing whether a Pokemon is legenadary or not and whether the Type 1 of a Pokemon is water or not.

In [103]:
cross = pd.crosstab(pokemon['Legendary'], pokemon['Water'])
cross

Water      Water  other
Legendary
False        108    627
True           4     61

Perform a chi-squared test using the `chi2_contingency` function in `scipy.stats`. You can read the documentation of the function [here](https://docs.scipy.org/doc/scipy-0.15.1/reference/generated/scipy.stats.chi2_contingency.html).

In [110]:
from scipy.stats import chi2_contingency

ji_dos, pval, dof, ex = chi2_contingency(cross)

pval

0.08625467249550997

Based on a 95% confidence, should we reject the null hypothesis?

In [19]:
# No, para un IC del 95% no podemos rechazar la H0 de que NO hay DIFERENCIAS significativas entre las muestras.